* {
    margin: 0;
    box-sizing: border-box;
}

.imagenes {
    text-align: center;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    background: rgb(57,123,150);
    background: linear-gradient(0deg, rgba(57,123,150,0.7231267507002801) 0%, rgba(217,218,255,1) 100%);
}

h1 {
    text-align: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    color: rgba(24, 67, 84, 0.723);
}

#img1 {
    width: 400px;
    transition: opacity 0.5s ease, filter 0.5s ease;
}

#img1:hover {
    opacity: 0.7; 
    filter: brightness(1.1);
}